.oul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: .45rem;
}

.nam {
  width: 100%;
  height: 100%;
  display: flex;
}

.ha-list {
  width: 30%;
  height: 100%;
}

.ha-right {
  flex: 1;
}
