.app{
    font-size: .12rem;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: .45rem;
    background: pink;
}
.contend{
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
}